@{
    ViewData["Title"] = "GaragemIndex";
}

<div class="card-panel grey darken-3" align="center"><b>Nome do Estacionamento:</b><p>Estacionamento Alfa</p></div>
<div class="card-panel grey darken-3" align="center"><b>Endereço do estacionamento: </b><p>R. 7 de Setembro, 1817 - Centro, Blumenau - SC, 89010-202</p></div>
<div class="card-panel grey darken-3" align="center"><b>Contato: </b><p>(47) 99153-2270</p></div>
<div class="card-panel grey darken-3" align="center"><b>Valor: </b><p>R$4,00 /h</p></div>
<div class="card-panel grey darken-3" align="center"><b>Suas vagas disponíves são:</b><p> 50</p></div>
<div class="card-panel grey darken-3" align="center"><b>Suas vagas ocupadas são:</b><p> 50</p></div>
<div class="card-panel grey darken-3" align="center"><b>Total de vagas na garagem:</b><p> 100</p></div>