body {
    background-color: #e0e0e0;
}

#check {
    color: #2e7d32;
    margin-left: 10px;
}

.display-flex {
    display: flex;
}

h6 {
    color: black;
}

.card-action {
    display: contents !important;
}

#detalhes {
    color: #37474f;
    margin-left: 10px;
}

.min-width {
    min-width: 150px;
}

.btn {
    display: inline-flex;
    margin-left: 7px;
    margin-bottom: 10px;
}

img {
    height: 150px;
    width: 150px;
}