@{
    ViewData["Title"] = "Home Page";
}

<div>
    <span class="flow-text">Bem Vindo !!! </span>
    <div class="row">
        <div class="col s4">
            <span class="flow-text">Você tem @ViewBag.VagasNaoOcupadas vagas não ocupadas</span>
        </div>
        <div class="col s4">
            <span class="flow-text">Você tem @ViewBag.VagasOcupadas vagas ocupadas</span>
        </div>
    </div>
</div>